.hero{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.herob{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.info{
    width: 90%;
    height: 400px;
    background-color: #ccc;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.expa{
    width: 90%;
    /* height: 300px; */
    background-color: #ccc;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.expb{
    width: 90%;
    
    background-color: #ccc;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.thm{
    width: 90%;
    height: 600px;
    background-color: #ccc;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
}